$color-yellow: #ffd740;
$color-purple: #d1c4e9;
$color-red: #c1123d;
$color-green: #49c112;

$page-padding: 1.5rem;
$size-border: 3px;
$list-number-space: .375rem;
$list-paddding: 1.75rem;
$list-status-padding: .75rem;

.scholarship-postulations {
    &__page {
        margin-left: auto;
        margin-right: auto;
        padding: $page-padding;
    }

    &__list {
        padding: $page-padding;
        margin-left: 0;
        list-style: none;
        counter-reset: counter;

        > li:before {
            counter-increment: counter;
            content: counter(counter);
        }
    }

    &__item {
        position: relative;
        margin-bottom: $page-padding;
        border: 3px solid $color-yellow;
        padding: $list-paddding;
        border-radius: $size-border;
        background-color: white;

        &:before {
            position: absolute;
            top: -1rem;
            padding-left: $list-number-space;
            padding-right: $list-number-space;
            color: $color-yellow;
            background-color: white;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &--awaiting, &--rejected, &--accepted {
            color: white;
            padding: $list-status-padding;
        }

        &--accepted {
            background-color: $color-green;
        }

        &--awaiting {
            background-color: $color-yellow;
        }

        &--rejected {
            background-color: $color-red;
        }
    }
}