<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>What is Lorem Ipsum?</mat-card-title>
    <mat-card-subtitle>Maecenas cursus nulla at elementum.</mat-card-subtitle>
  </mat-card-header>
  <div mat-card-image></div>
  <mat-card-content>
    <p appHighlight="red">Nulla ut ligula neque. Nullam semper scelerisque diam, ut aliquet nisi. Pellentesque cursus, risus a mattis viverra, risus ex ornare lorem, sed pellentesque erat orci ut diam. Pellentesque aliquam mi eu enim tincidunt, id convallis mauris ornare. Praesent luctus volutpat nunc quis egestas. Nulla libero sapien, blandit vitae tortor sit.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *appUnless="false">LIKE</button>
    <button mat-button *appUnless="true">SHARE</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>What is Lorem Ipsum?</mat-card-title>
    <mat-card-subtitle>Cras mattis, magna at varius.</mat-card-subtitle>
  </mat-card-header>
  <div mat-card-image></div>
  <mat-card-content>
    <p appHighlight="blue">Nullam lacus nibh, malesuada non pharetra ut, consequat tempus nulla. Phasellus sed ipsum quis magna facilisis volutpat eu ut nunc. Proin dui lacus, pretium non elementum sed, laoreet quis tellus. Aenean id massa id ligula aliquam interdum. In consequat leo non neque maximus dictum. Ut scelerisque neque vel magna efficitur.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *appUnless="true">LIKE</button>
    <button mat-button *appUnless="false">SHARE</button>
  </mat-card-actions>
</mat-card>