:host {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-grow: 1;
  
    form {
      width: 26.5em;
  
      @media (max-width: 26.5em) {
        width: 100%;
        padding: 1em;
      }
  
      .mat-card {
  
        .mat-card-image {
          height: 9em;
          background-image: url('/assets/angular.jpg');
          background-size: 100%;
          background-position: center;
  
          @media (max-width: 26.5em) {
            background-size: 150%;
          }
        }
  
        .mat-card-content {
          display: flex;
          flex-direction: column;
  
          .mat-form-field {
            width: 100%;
            margin-bottom: .5rem;
          }
        }
      }
    }
  }
