<form #loginForm="ngForm" (ngSubmit)="submit()">

  <mat-card class="login-form">
    <div mat-card-image></div>
    <mat-card-content>

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input [(ngModel)]="formModel.username" #username="ngModel" matInput type="text" name="username" required minlength="3" maxlength="10" autocomplete="off">
        <mat-icon matSuffix>person_outline</mat-icon>
        <mat-hint>Type your username</mat-hint>
        <mat-error *ngIf="username.invalid">
          {{ username.errors | json }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="formModel.password" #password="ngModel" matInput type="password" name="password" required minlength="3" maxlength="50" autocomplete="off">
        <mat-icon matSuffix>code</mat-icon>
        <mat-hint>Type your password</mat-hint>
        <mat-error *ngIf="password.invalid">
          {{ password.errors | json }}
        </mat-error>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>

      <button mat-button color="primary">
        <mat-icon>lock_open</mat-icon> Login
      </button>

      <a routerLink="/register" mat-button role="button">
        <mat-icon>how_to_reg</mat-icon> Register
      </a>

    </mat-card-actions>
  </mat-card>

</form>

<app-loading *ngIf="isLoading"></app-loading>